<div class="main top-main">
    <div class="top-message">
    <img src="./logo_image/logo.png",width=100, height=100>
    <p>Mashappは，様々な筋トレ方法をユーザーが投稿するサイトである．</p>
    <p>Mashappでは主に3つのことができる．</p>
    <p>一つ目は，ユーザー個人で筋トレ方法の投稿ができる.<br>
    二つ目は，他のユーザーが投稿した筋トレを閲覧することができる．<br>
    三つ目は，投稿した筋トレ方法を評価・コメントすることができる．<br>
    </div>

</div>